# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
 "test": "ts-node ./src/adapters/test.ts",
 "test-txs": "ts-node ./src/utils/testAdapterHistorical.ts"
  },
  },
  "devDependencies": {
    "@types/aws-lambda": "^8.10.101",
"@types/node": "^18.6.4",
 "@types/node-fetch": "^2.6.2",
 "babel-loader": "^8.2.5",
   "serverless": "^3.21.0",
    "serverless-offline": "^9.1.6",
